<footer>
  <div id="footer-container">
    <hr>
    <div class="body-footer-container">
      <div class="footer-text">
        <p>© 2024 Site Corporation. Todos os direitosreservados. Todas as marcas comerciais sãopropriedade dos respetivos proprietários nos E.U.A. , Brazil e outros países.IVA incluído em todos os preços onde aplicável.
          <a href="">Política de privacidade</a>
          <a href="">Termos legais</a>
          <a href="">Acordo de Subscrição Site</a>
          <a href="">Reembolsos</a>
          <a href="">Cookies</a>
        </p>
      </div>
      <img src="assets/images/logo.jpg" width="50px" height="50px" style="border-radius: 100%;" alt="Logo of site">
    </div>
    <hr>
    <div class="links">
      <a href="">Carreiras </a>
      <a href="">SiteWorks</a>
      <a href="" routerLink="/sobre-nos" class="links-bottom-footer">Sobre Nós</a>
      <a href="" routerLink="/contato" class="links-bottom-footer">Contato</a>
      <a href="" routerLink="/ajuda" class="links-bottom-footer">Ajuda</a>
      <a href="">Cartões-Presentes</a>
      <a href=""><img src="assets/images/ico_facebook.png" alt="something" width="23px" height="12px">Facebook</a>
    </div>
  </div>
</footer>
