<div class="sobrenos">
    <section>
        <h1>Qual o Objetivo da CDI?</h1>
        <p>Nosso Proposta é Tentar Mostrar Um Pouco Mais Do Que Os Jogos São.
            Nos Focamos Em Tentar Mostrar Um Pouco Mais Sobre As Histórias Que Os Jogos Envolvem
            Do Que Simplismente Jogar Um Jogo Por jogar
            Em Algumas Seções Do Site Você Pode Encontrar Curiosidades ,Easter Eggs,Making Of's,Trofeis e
            Outros
        </p>
        <h1>Idéia</h1>
        <p>
            Não Se Limite A Ficar Somente Em Um Único Lugar Online Onde Irá Realizar Sempre O Mesmo Movimento<br/>
            Explore Historias Grandiosas , Experimente Algo Ainda Não Visto , O Universo Das Historias São Enormes,<br/>
            Você Pode Explorar Historias Novas E Antigas O Quanto Quiser Desde o Ps1 Ate Hj
        </p>
        <h1>Ganhamos Com Isso?</h1>
        <p>Nossos Conteudos São Totalmente Gratuitos,Mas Temos Um Meio De Você Ajudar a Manter esse Projeto Vivo</p>
        <p>Todos Aqueles Que Gostam e Apoiam Nosso Projeto Podem Contribuir Com Doações Totalmente Opcionais</p>
        <p>Também Agradecemos A Todos Os Nossos Apoiadores</p>

        <h1><b>Obrigado a Todos Por Manter O Projeto Vivo</b></h1>

        <p>Para Voltar a Tela Inicial  Clique No Ícone De Logo Do SITE</p>


    </section>
</div>
