<div>
  <section>

    <h1 style="text-align: center;">
      Configure Seus Jogos
      <button routerLink="/criar">Criar Novo Jogo</button>
    </h1><br>

    <div class="caixajogos">
      <tr>
        <td>
          Nome do Usuario
        </td>
        <td>
          cpf
        </td>
        <td>
          email
        </td>
        <td>
          Data De Nascimento
        </td>
        
      </tr>
      <tr *ngFor="let i of users$ | async " >
        <td>
          {{i.username}}
        </td>
        <td>
          {{i.cpf}}
        </td>
        <td>
          {{i.email}}
        </td>
        <td>
          {{i.datanascimento}}
        </td>
        <!-- <td><span><button (click)='Edit(i)'>Editar</button></span></td> -->
      </tr>

    </div><br>

  </section>
</div>
