<br>
<div class="vamove" >
    <form [formGroup]="form" >
    <label for="nome">Nome:</label>
    <input type="text" id="nome" formControlName="username">
    <label for="imagi">CPF (Opcional):</label>
    <input type="text" id="imagi" formControlName="cpf">
    <label for="resumo">Email:</label>
    <input type="text" id="resumo" formControlName="email">
    <label for="plataforma">Data De Nascimento:</label>
    <input type="date" id="plataforma" formControlName="datanascimento">
    <input type="button" value="Submit" (click)="onSubmit()">
  </form>
</div><br>
