<section id="id-section-home">
  <main id="home-main">

    <h1 style="color: white;">Recomendados e Destaque</h1>

    <section class="diferent">
      <body>
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" checked/>
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main id="carousel">
          <div class="item" *ngFor="let i of games | async">
            <img src="{{i.imglink}}" alt="">
          </div>
        </main>
      </body>
    </section>

    <!-- <div class="games-imgs">
        <td *ngFor="let i of games">
          <div class="gameimg-container">
            <figure>
              <img src="{{i.imglink}}" alt="dsad" />
            </figure>
          </div>
        </td>
    </div> -->

    <br />

    <div class="text-container" style="color: white;">
      <h1>The CDI Industries</h1>
      <p>
        No Nosso Site Você Pode Encontrar As Melhores Opções De Jogos, Antigos e
        Mais Recentes,Gratuitos ou Pagos
      </p>
      <p>
        Para Se Ocupar Com Historias Emocionantes ,Ou Ate Mesmo Jogos Que
        Possuem Foco Competitivo
      </p>
      <br />
      <p>
        Todos Os Nossos Serviços São Gratuitos Para Todos Os Usuários,Mas Você
        Tambem Pode Nos ajudar
      </p>
      <p>
        A Manter Nosso Trabalho Vivo E Melhorado Com Doações Totalmente
        Opcionais
      </p>
      <br />
      <h1>
        Para Saber Mais Sobre e Aproiveitar Nossos Serviços Cadastre-se Ou Faça
        Log in
      </h1>
      <h1>E Seja Bem Vindo Ao Site Da CDI</h1>
    </div>
  </main>
</section>
