<section *ngIf="games">

  <div class="card-game">
    <figure>
      <img src="{{games.imglink}}" alt="" width="200px" height="200px">
    </figure>
    <span>
      <h1>{{games.name}}</h1>
      <p>Lançado Para : <br> <b>{{games.plataform}}</b></p>
      <p>Ano : <b>{{games.year}}</b></p>
    </span>
  </div><br>

  <div class="infos">
      <b>Enredo:</b>
      <p>{{games.resume}}</p><br>

      <span *ngIf="adinfops2||adinfops1||adinfops3||adinfoPsp||adinfoWii||adinfoGC">
        <p><b [innerHTML]='adinfops2'></b></p><br>
        <p><b [innerHTML]='adinfops1'></b></p><br>
        <p><b [innerHTML]='adinfops3'></b></p><br>
        <p><b [innerHTML]='adinfoPsp'></b></p><br>
        <p><b [innerHTML]='adinfoWii'></b></p><br>
        <p><b [innerHTML]='adinfoGC'></b></p><br>
      </span>
      
  </div><br>

</section>
