<section style="background-color: rgba(10, 17, 21, 0.934);"><br>
    <header>
        <div class="conteudo">
        <h1>Sign up</h1>
        <img src="assets/images/logo.jpg" alt="" width="60px" height="60px">
        </div>
    </header><br>
    <main>
    <div class="pagecad-container">
        <div class="pagecadbox">
            <span class="inputs"> 
                <p style="font-size: 13px;">User name</p>
                    <input type="text" name="" id="Mytext"  style="background-color: rgba(10, 17, 21, 0.934);border: 1px solid white;">
                <p></p> <!--Esse p Não pra Nada So é Pra Dar Um Espaçamento-->
                <p style="font-size: 13px;">Email Adress</p>
                    <input type="email" name="" id="Myemail"  style="background-color: rgba(10, 17, 21, 0.934);border: 1px solid white;">
                <p id="emailmessageerror" style="font-size: 13px;"></p>
                <p style="font-size: 13px;">Password</p>
                    <input type="password" name="" id="Mypassword" style="background-color: rgba(10, 17, 21, 0.934);border: 1px solid white;">
                <p id="passwarn" style="font-size: 13px;">*Password only 6 - 12 Characters</p>
            </span>
            <span class="Mybutton">
                <input type="button" value="Create Account" id="buttonsign">
            </span>
            <span class="finalcoment">
                <p>Already Has an Account <a href="#" style="text-decoration:underline;">Login</a></p>
            </span>
        </div>
        
    </div>       
    </main>
</section>
