section
  background-image: linear-gradient(to bottom, #20252B, #0C0E11)
  min-height: 100vh
  color: white
  display: flex
  flex-direction: column
  align-items: center

.tabela
  margin-top: 100px
  border-radius: 10px
  background-image: linear-gradient(to bottom, #20252B, #243243)
  padding: 10px

table
  width: 600px
  border-collapse: collapse

th, td
  border-bottom: 1px solid white
  padding: 10px

th
  text-align: left
