<section style="background-color: rgba(10, 17, 21, 0.934);"><br>
    <header>
        <div class="conteudo">
            <h1>Sign In</h1>
            
        </div>
    </header><br>
    <main>
    <div class="pagecad-container">
        <div class="pagecadbox">
            <span class="inputs"> 
                <p style="font-size: 13px;">Email Adress</p>
                    <input type="email" name="" id="Myemail"  style="background-color: rgba(10, 17, 21, 0.934);border: 1px solid white;">
                <p id="emailmessageerror" style="font-size: 13px;"></p>
                <p style="font-size: 13px;">Password</p>
                    <input type="password" name="" id="Mypassword" style="background-color: rgba(10, 17, 21, 0.934);border: 1px solid white;">
                <p id="passwarn" style="font-size: 13px;">*Password only 6 - 12 Characters</p>
            </span>
            <span class="Mybutton">
                <input type="button" value="Create Account" id="buttonsign">
            </span>
            <span class="finalcoment">
                <p>Don't Have an Account : <a routerLink="/cadastro" style="text-decoration:underline;">Sing Up</a></p>
            </span>
        </div>
        
    </div>       
    </main>
</section>
