<div class="contatux">
    <section>
      <span id="titulos">
        <h1>Gostaria De Entrar Em Contato Conosco ?</h1>
        <p>Você Pode Nos Contactar Via Email 😄 Ou Preencher o Formulario Abaixo</p>
      </span>
      <div class="tabela-contato">

        <form id="form-con">

          <p>Nome :</p><input placeholder="Nome De Usuario" id="namebox" type="text">
          <p>Email :</p><input placeholder="Email" id="emailbox" type="email">
          <p>Assunto :</p><input placeholder="Assunto De Contato" id="assuntobox" type="text">
          <p>Mensagem :</p><textarea placeholder="Escreva Sua Mensagem" name="" id="textbox"></textarea>

        </form>
        <button>Enviar Mensagem</button>
      </div>
    </section>
</div>
