
.header-container
    width: 100%
    height: 70px
    background-color: #20252B
    display: flex
    justify-content: space-between
    align-items: center

#butons
  display: flex
  margin-right: 20px

#butons a button
  border: 1px solid white
  border-radius: 10px
  cursor: pointer
  font-size: 1rem
  color: white
  padding: 5px
  background-color: transparent
  transition: all 0.5s
  &:hover
    color: #20252B
    background-color: white

.logo-img
    display: flex
    align-items: center
    gap: 10px
    //margin-left: 10px

.logo-img a
  margin-left: 18px

.links a
    margin-right: 7px
    text-decoration: none
    color: white
