
.header-container
    width: 100%
    height: 70px
    background-color: black
    display: flex
    justify-content: space-between
    align-items: center

#butons
    display: flex
    gap: 10px
    margin-right: 10px